@charset "UTF-8";
/* CSS Document */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, blockquote {
	margin: 0;
	padding: 0;
	border: 0;
	font-family:inherit;
	font-size:100%;
	font-style:inherit;
	font-weight:inherit;
}
body {
	font-family: "Courier New", Courier, monospace;
	line-height: 24px;
	background: #FFF no-repeat;

}
a {
	color: pink;
	text-decoration: none;
	}
a:hover {
	color: red;
	}
h1 {
	font-size: 70px;
	font-weight: 700;
	line-height: 55px;
}
small {
	font-size: 12px;
	}
p {
	margin-top: 10px;
	color: #333;
	}
.container {
	width: 100%;
	}
	
	.centre {
		margin: 50px auto;
		width: 330px;
		}
		